<%- include("header") -%>

<h2>About to do list
</h2>

<p>This to do list is made by using javascript in frontend , nodejs in backend and mongoDB in database  </p>

<h3>Feel free to add new items to your list and to remove the old items. </h3>


<%- include("footer") -%>
